.container {
    margin: auto;
    width: 320px;
    background-color: #DCDCDC;
    padding:0.0em 1px;
    border-radius: 10px;
}
button{
    display: block;
    margin: auto;
}

.progress{
    background-color:#B32440;
    border-radius: 10px;
}
p{
    color: white;
    text-align: center;
}