* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.image-wrapper {
    width: 50%;
    height: 100%;
    background-size: cover;
    position: absolute;
}

.left {
    background-image: url('left.jpg');
    background-position: right;
    z-index: 4;
}

.right {
    background-image: url('right.jpg');
    background-position: left;
    left: 50%;
    z-index: 1;
}

hr {
    height: 180px;
    border: none;
    border-left: solid 10px #76a89d;
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-48%, -48%)
}

#title {
    font-size: 3rem;
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    margin-left: 2rem;
    transform: translate(-120%, -56%);
    animation: showTitle 3s infinite ;
}

@keyframes showTitle {
    0% {
        transform: translate(-120%, -56%)
    }
    15% {
        transform: translate(0%, -56%)
    }
    80% {
        transform: translate(0%, -56%)
    }
    94% {
        transform: translate(-120%, -56%)
    }
    100% {
        transform: translate(-120%, -56%)
    }
}

@media screen and (max-width: 600px) {
    hr {
        height: 136px;
    }

    .title {
        font-size: 2rem
    }
}